<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>bundleid</key>
	<string>com.tianhaox.alfred.mweb</string>
	<key>category</key>
	<string>Tools</string>
	<key>connections</key>
	<dict>
		<key>1BD4A14E-76C4-4B4A-B7D5-D7FBBB657ACD</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>D0378A9F-59DD-44C6-8B45-7D512B3D7EFE</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>22449D84-93C8-4AD6-A840-13A7AE46FA61</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>A3D0F173-61D8-404D-AEAF-F81E829253E5</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>6EAC1001-F384-44C2-8824-F72D0EE113E1</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>D836E6E0-B738-4C6F-826A-64277CEF6CC9</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>A3D0F173-61D8-404D-AEAF-F81E829253E5</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>805416A3-647A-4543-950E-92F07229A6DB</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>BD22F34B-B52B-4259-ADB9-54F13CA7E02D</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>6EAC1001-F384-44C2-8824-F72D0EE113E1</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>D0378A9F-59DD-44C6-8B45-7D512B3D7EFE</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>98CDDC53-408B-468A-9C95-96B467FB5B4B</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
	</dict>
	<key>createdby</key>
	<string>tianhaox</string>
	<key>description</key>
	<string>快速打开MWeb文档／推送文章到Git</string>
	<key>disabled</key>
	<false/>
	<key>name</key>
	<string>MWeb</string>
	<key>objects</key>
	<array>
		<dict>
			<key>config</key>
			<dict>
				<key>alfredfiltersresults</key>
				<false/>
				<key>alfredfiltersresultsmatchmode</key>
				<integer>0</integer>
				<key>argumenttrimmode</key>
				<integer>1</integer>
				<key>argumenttype</key>
				<integer>1</integer>
				<key>escaping</key>
				<integer>102</integer>
				<key>keyword</key>
				<string>mo</string>
				<key>queuedelaycustom</key>
				<integer>1</integer>
				<key>queuedelayimmediatelyinitially</key>
				<true/>
				<key>queuedelaymode</key>
				<integer>2</integer>
				<key>queuemode</key>
				<integer>2</integer>
				<key>runningsubtext</key>
				<string></string>
				<key>script</key>
				<string>./search.sh '{query}'</string>
				<key>scriptargtype</key>
				<integer>0</integer>
				<key>scriptfile</key>
				<string></string>
				<key>subtext</key>
				<string></string>
				<key>title</key>
				<string>查找/打开 MWeb 内部文档</string>
				<key>type</key>
				<integer>0</integer>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.scriptfilter</string>
			<key>uid</key>
			<string>A3D0F173-61D8-404D-AEAF-F81E829253E5</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>102</integer>
				<key>script</key>
				<string>if [ -f '{query}' ];then
  open -a /Applications/MWeb.app '{query}'
fi</string>
				<key>scriptargtype</key>
				<integer>0</integer>
				<key>scriptfile</key>
				<string></string>
				<key>type</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>805416A3-647A-4543-950E-92F07229A6DB</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>action</key>
				<integer>0</integer>
				<key>argument</key>
				<integer>3</integer>
				<key>focusedappvariable</key>
				<false/>
				<key>focusedappvariablename</key>
				<string></string>
				<key>hotkey</key>
				<integer>0</integer>
				<key>hotmod</key>
				<integer>0</integer>
				<key>leftcursor</key>
				<false/>
				<key>modsmode</key>
				<integer>0</integer>
				<key>relatedAppsMode</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.trigger.hotkey</string>
			<key>uid</key>
			<string>22449D84-93C8-4AD6-A840-13A7AE46FA61</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>alfredfiltersresults</key>
				<false/>
				<key>alfredfiltersresultsmatchmode</key>
				<integer>0</integer>
				<key>argumenttrimmode</key>
				<integer>1</integer>
				<key>argumenttype</key>
				<integer>1</integer>
				<key>escaping</key>
				<integer>102</integer>
				<key>keyword</key>
				<string>moe</string>
				<key>queuedelaycustom</key>
				<integer>1</integer>
				<key>queuedelayimmediatelyinitially</key>
				<true/>
				<key>queuedelaymode</key>
				<integer>2</integer>
				<key>queuemode</key>
				<integer>2</integer>
				<key>runningsubtext</key>
				<string></string>
				<key>script</key>
				<string>./search-ext.sh '{query}'</string>
				<key>scriptargtype</key>
				<integer>0</integer>
				<key>scriptfile</key>
				<string></string>
				<key>subtext</key>
				<string></string>
				<key>title</key>
				<string>查找/打开 MWeb 外部文档</string>
				<key>type</key>
				<integer>0</integer>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.scriptfilter</string>
			<key>uid</key>
			<string>6EAC1001-F384-44C2-8824-F72D0EE113E1</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>102</integer>
				<key>script</key>
				<string>if [ -f '{query}' ];then
    if [ -z "${MARKDOWN_APP}" ];then
        open '{query}'
    else
	    open -a "${MARKDOWN_APP}" '{query}'
    fi
fi</string>
				<key>scriptargtype</key>
				<integer>0</integer>
				<key>scriptfile</key>
				<string></string>
				<key>type</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>D836E6E0-B738-4C6F-826A-64277CEF6CC9</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>action</key>
				<integer>0</integer>
				<key>argument</key>
				<integer>3</integer>
				<key>focusedappvariable</key>
				<false/>
				<key>focusedappvariablename</key>
				<string></string>
				<key>hotkey</key>
				<integer>0</integer>
				<key>hotmod</key>
				<integer>0</integer>
				<key>leftcursor</key>
				<false/>
				<key>modsmode</key>
				<integer>0</integer>
				<key>relatedAppsMode</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.trigger.hotkey</string>
			<key>uid</key>
			<string>BD22F34B-B52B-4259-ADB9-54F13CA7E02D</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>1</integer>
				<key>keyword</key>
				<string>mpush</string>
				<key>subtext</key>
				<string>需设置MBLOG_HOME环境变量</string>
				<key>text</key>
				<string>推送静态博客到Git(Hub)</string>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>D0378A9F-59DD-44C6-8B45-7D512B3D7EFE</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>102</integer>
				<key>script</key>
				<string>if [ -z "${MBLOG_HOME}" -o !-d "${MBLOG_HOME}" ];then
   exit 1
fi
cd "${MBLOG_HOME}"
git add --all
git commit -m "updated @`date +'%Y-%m-%d %H:%M:%S'`"
git push origin master
open "${MBLOG_URL}"
echo "push blog done"</string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string></string>
				<key>type</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>98CDDC53-408B-468A-9C95-96B467FB5B4B</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>action</key>
				<integer>0</integer>
				<key>argument</key>
				<integer>0</integer>
				<key>focusedappvariable</key>
				<false/>
				<key>focusedappvariablename</key>
				<string></string>
				<key>hotkey</key>
				<integer>0</integer>
				<key>hotmod</key>
				<integer>0</integer>
				<key>leftcursor</key>
				<false/>
				<key>modsmode</key>
				<integer>0</integer>
				<key>relatedAppsMode</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.trigger.hotkey</string>
			<key>uid</key>
			<string>1BD4A14E-76C4-4B4A-B7D5-D7FBBB657ACD</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
	</array>
	<key>readme</key>
	<string>Alfred's Script Filter object is extremely powerful, and gives you control over the results displayed in Alfred.

Alfred 3 now supports JSON, which is the recommended format. XML is also supported for legacy Alfred 2 workflows, and has been updated to include the new features.

A new option now exists for Script Filters, "Alfred filters results". This allows you to return a whole list of results, let Alfred do the subsequent filtering with extreme performance. When this option is selected, your script will be called once with no argument.</string>
	<key>uidata</key>
	<dict>
		<key>1BD4A14E-76C4-4B4A-B7D5-D7FBBB657ACD</key>
		<dict>
			<key>xpos</key>
			<integer>80</integer>
			<key>ypos</key>
			<integer>350</integer>
		</dict>
		<key>22449D84-93C8-4AD6-A840-13A7AE46FA61</key>
		<dict>
			<key>xpos</key>
			<integer>80</integer>
			<key>ypos</key>
			<integer>20</integer>
		</dict>
		<key>6EAC1001-F384-44C2-8824-F72D0EE113E1</key>
		<dict>
			<key>xpos</key>
			<integer>260</integer>
			<key>ypos</key>
			<integer>190</integer>
		</dict>
		<key>805416A3-647A-4543-950E-92F07229A6DB</key>
		<dict>
			<key>xpos</key>
			<integer>490</integer>
			<key>ypos</key>
			<integer>20</integer>
		</dict>
		<key>98CDDC53-408B-468A-9C95-96B467FB5B4B</key>
		<dict>
			<key>xpos</key>
			<integer>490</integer>
			<key>ypos</key>
			<integer>350</integer>
		</dict>
		<key>A3D0F173-61D8-404D-AEAF-F81E829253E5</key>
		<dict>
			<key>xpos</key>
			<integer>260</integer>
			<key>ypos</key>
			<integer>20</integer>
		</dict>
		<key>BD22F34B-B52B-4259-ADB9-54F13CA7E02D</key>
		<dict>
			<key>xpos</key>
			<integer>80</integer>
			<key>ypos</key>
			<integer>190</integer>
		</dict>
		<key>D0378A9F-59DD-44C6-8B45-7D512B3D7EFE</key>
		<dict>
			<key>xpos</key>
			<integer>260</integer>
			<key>ypos</key>
			<integer>350</integer>
		</dict>
		<key>D836E6E0-B738-4C6F-826A-64277CEF6CC9</key>
		<dict>
			<key>xpos</key>
			<integer>490</integer>
			<key>ypos</key>
			<integer>190</integer>
		</dict>
	</dict>
	<key>variables</key>
	<dict>
		<key>MARKDOWN_APP</key>
		<string>/Applications/MWeb.app</string>
		<key>MARKDOWN_PATH</key>
		<string>外部库路径，多个用路径:隔开</string>
		<key>MBLOG_HOME</key>
		<string>MWeb偏好设置中的"生成的静态网站保存的位置"</string>
		<key>MBLOG_URL</key>
		<string>你的静态网站博客地址</string>
		<key>MDOC_HOME</key>
		<string>$HOME/notes</string>
	</dict>
	<key>version</key>
	<string>1.2</string>
	<key>webaddress</key>
	<string>tianhaox.com</string>
</dict>
</plist>
